<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full text-white h-screen bg-zinc-900 p-5 align-center flex flex-col w-full text-center ">
      <h3 class=" text-3xl mb-4">Login Your account</h3>
      <form method="post" action="/login" class="flex flex-col w-[100%] text-center  h-full ">
        <input class="border-2 border-zinc-300 text-zinc-100 bg-transparent rounded-md px-5 py-2 w-[20%] "  type="email" name="email" id="" placeholder="email">
        <input class="border-2 border-zinc-300 text-zinc-100 bg-transparent rounded-md px-5 py-2 w-[20%] mb-4 mt-4"  type="password" name="password" id="" placeholder="password">
        <input class="bg-indigo-500 border-2  text-zinc-100 rounded-md px-5 py-2 cursor-pointer b hover:bg-indigo-900 w-[20%]"  type="submit" name="submit" id="" value="Login">
      </form>
    </div>
  </body>
</html>